.myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.myform_input {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}